@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    string color = "";
}
@foreach (var item in Model)
{
    if (item.Category.CategoryName == "SEYAHAT")
    {
        color = "post-category text-white bg-warning mb-3";
    }
    else if (item.Category.CategoryName == "TEKNOLOJİ")
    {
        color = "post-category text-white bg-info mb-3";
    }
    else if (item.Category.CategoryName == "SPOR")
    {
        color = "post-category text-white bg-danger mb-3";
    }
    else if (item.Category.CategoryName == "YAZILIM")
    {
        color = "post-category text-white bg-secondary mb-3";
    }
    else if (item.Category.CategoryName == "FİLM & DİZİ")
    {
        color = "post-category text-white bg-success mb-3";
    }
    else if (item.Category.CategoryName == "KÜLTÜR & SANAT")
    {
        color = "post-category text-white bg-primary mb-3";
    }
    else if (item.Category.CategoryName == "OYUN")
    {
        color = "post-category text-white bg-danger mb-3";
    }

    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@item.BlogImageCover'); height:800px; width:1900px;">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <span class="@color">@item.Category.CategoryName</span>
                        <h1 class="mb-4"><a href="#">@item.BlogTitle</a></h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="@item.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1">@item.Author.AuthorName</span>
                            <span>&nbsp;-&nbsp;@(((DateTime)item.BlogDate).ToString("dd MMMM yyyy"))</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}