@model IEnumerable<EntityLayer.Concrete.Category>
@{
    ViewBag.Title = "AdminCategoryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string color = "";
    string casename = "";
    string checkStatus = "";
    string blogstatus = "";
    string buttonStatusColor = "";
    string statusColor = "";
    string categoryname = "";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Admin Kategori Litesi</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%" class="text-center">
                                Kategori Adı
                            </th>
                            <th style="width: 10%">
                                Son Blog
                            </th>
                            <th style="width: 10%" class="text-center">
                                Durum
                            </th>
                            <th style="width: 15%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            switch (item.CategoryStatus)
                            {
                                case true:
                                    statusColor = "badge rounded-pill bg-success";
                                    buttonStatusColor = "btn btn-danger";
                                    break;
                                case false:
                                    statusColor = "badge rounded-pill bg-danger";
                                    buttonStatusColor = "btn btn-success";
                                    break;
                            }

                            if (item.CategoryStatus == false)
                            {
                                color = "post-category text-while bg-danger mb3";
                                checkStatus = "Aktif Yap";
                            }
                            else
                            {
                                color = "post-category text-while bg-success mb3";
                                checkStatus = "Pasif Yap";
                            }

                            if (@item.CategoryStatus)
                            {
                                categoryname = "Aktif";
                            }
                            else
                            {
                                categoryname = "Pasif";
                            }
                            <tr>
                                <td>@item.CategoryID</td>
                                <td class="text-center">@item.CategoryName</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="/AdminLTE-3.0.4/dist/img/avatar.png">
                                        </li>
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="/AdminLTE-3.0.4/dist/img/avatar2.png">
                                        </li>
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="/AdminLTE-3.0.4/dist/img/avatar3.png">
                                        </li>
                                    </ul>
                                </td>
                                <td class="project-state">
                                    <span class="badge @color">@categoryname</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Blog/BlogByCategory/@item.CategoryID">
                                        <i class="fas fa-folder">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Category/CategoryEdit/@item.CategoryID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="@buttonStatusColor btn-sm" href="/Category/CategoryDelete/@item.CategoryID">
                                        <i class="fas fa-trash">
                                        </i>
                                        @checkStatus
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal1">
            Yeni Kategori Ekle
        </button>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Yeni Kategori Ekleme Paneli</h2>
                    </div>
                    <form method="post" action="/Category/AdminCategoryAdd/">
                        <div class="modal-body">
                            <label>Kategori Adını Giriniz!</label>
                            <input type="text" placeholder="Örneğin: Deneme Yazısı" name="CategoryName" class="form-control" />
                            <br />
                            <label>Kategori Açıklamasını Giriniz!</label>
                            <input type="text" name="CategoryDescription" class="form-control" />
                            <br />
                            <button class="btn btn-info">Kategori'yi Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </section>
</body>
</html>