@model EntityLayer.Concrete.Comment

<div class="comment-form-wrap pt-5">
    <h3 class="mb-5">Bir Yorum Bırakın!</h3>
    <form method="post" class="p-5 bg-light">
        <div class="form-group">
            <label for="name">Adınız ve Soyadınız *</label>
            @Html.TextBoxFor(x => x.UserName, new { placeholder = "Örneğin: Ali Yıldız", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="email">Mail Adresiniz *</label>
            @Html.TextBoxFor(x => x.Mail, new { placeholder = "Örneğin: deneme@gmail.com", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
        </div>
        @*<input type="hidden" value="@DateTime.Now.ToShortDateString()" name="CommentDate" />*@
        <input type="hidden" value="@ViewBag.id" name="BlogID" />
        <div class="form-group">
            <label for="message">Mesajınız</label>
            @Html.TextAreaFor(x => x.CommentText,10,3, new { placeholder = "Örneğin: Mesajınızı Giriniz!", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CommentText, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="select">Puanınız *</label>
            <br />
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 1)1</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 2)2</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 3)3</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 4)4</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 5)5</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 6)6</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 7)7</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 8)8</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 9)9</label>
            <label style="margin-right:40px">@Html.RadioButton("BlogRating", 10)10</label>
        </div>
        <div class="form-group">
            <input type="submit" value="Yorumunuzu Gönderin!" class="btn btn-primary">
        </div>
    </form>
</div>
