@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Yazar Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    <label>Yazar Adını ve Soyadını Giriniz!</label>
    @Html.TextBoxFor(x => x.AuthorName, new { placeholder = "Örneğin: Ali Yıldız", @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorName, "", new { @class = "text-danger" })
    <br />
    <label>Yazar Resim Yolunu Giriniz!</label>
    @Html.TextBoxFor(x => x.AuthorImage, new { placeholder = "Örneğin: https://i.hizliresim.com/nVdigl.jpg", @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorImage, "", new { @class = "text-success" })
    <br />
    <label>Yazar Yeteneklerini Giriniz!</label>
    @Html.TextBoxFor(x => x.AuthorShort, new { placeholder = "Örneğin: Yazılım / Teknoloji / Tasarım / Kodlama", @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorShort, "", new { @class = "text-success" })
    <br />
    <label>Yazarın Mesleğini Giriniz!</label>
    @Html.TextBoxFor(x => x.AuthorTitle, new { placeholder = "Örneğin: Yazılım Mühendisi", @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorTitle, "", new { @class = "text-success" })
    <br />
    <label>Yazar Mail Adresini Giriniz!</label>
    @Html.TextBoxFor(x => x.Mail, new { placeholder = "Örneğin: deneme@gmail.com", @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Mail, "", new { @class = "text-danger" })
    <br />
    <label>Yazar Şifresini Giriniz!</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
    <br />
    <label>Yazar Telefon Numarasını Giriniz!</label>
    @Html.TextBoxFor(x => x.PhoneNumber, new { placeholder = "Örneğin: (212) (000 00 00)", @class = "form-control" })
    @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-success" })
    <br />
    <label>Yazar Hakkında Kısmını Giriniz!</label>
    @Html.TextAreaFor(x => x.AuthorAbout, 10, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorAbout, "", new { @class = "text-success" })
    <br />
    <button class="btn btn-outline-info">Yazarı Ekleyin</button>
</form>